// Include media

$breakpoints: (
    tablet: 768px,
    large: 992px,
    desktop: 1200px
);


// Typography

$base-font-size:        16px;
$font-family-header:    'Playfair Display', serif;
$font-family-copy:      'Montserrat', sans-serif;
$line-height:           1.15;


// Colours

$color-dark:            #2f2f2f;