@import '~include-media/dist/include-media';
@import '../../layouts/sass/partials/variables';

.packages {
    padding: 15px 0;
    display: grid;
    margin-top: 25px;
    grid-gap: 15px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 25px rgba(0,0,0,.15);
    @include media(">=tablet") {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0;
    }
}

.packages__item {
    display: grid;
    @include media(">=tablet") {
        grid-template-rows: repeat(2, auto) 1fr;
        border-right: 1px solid #DCE8F5;
        &:last-child {
            border-right: none;
        }
    }
}

.packages__item-header,
.packages__item-price,
.packages__item-details {
    padding: 15px;
}

.packages__item-price p {
    color: #58A3FD;
    font-size: 2.1em;
}

.packages__item-details li {
    text-align: center;
    padding: 15px 0;
}