//Vendor
@import '~include-media/dist/include-media';

//Global

@import 'partials/reset';
@import 'partials/variables';

html {
  font-size: $base-font-size;
  line-height: $line-height;
  font-family: $font-family-copy;
  color: $color-dark;
  padding-bottom: 15px;
  background: #FBFDFE;
}


/* TYPOGRAPHY */

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: $font-family-header;
}

h1, .h1 { font-size: 2.5em; }
h2, .h2 { font-size: 2.1em; }

a {
  text-decoration: none;
  color: inherit;
}

.text--center {
  text-align: center;
}

.siteTitle {
  margin: 25px 0;
  @include media (">=tablet") {
    margin: 25px 0 35px 0;
  }
}

/* GRID */
.container {
  display: grid;
  margin: 0 15px;
  @include media(">=large") {
    width: 960px;
    margin: 0 auto;
  }
}