//Vendor
@import '~include-media/dist/include-media';

//Global

@import 'partials/reset';
@import 'partials/variables';

html {
  font-size: $base-font-size;
  line-height: $line-height;
  font-family: $font-family-copy;
  color: $color-dark;
  padding-bottom: 15px;
  background: #FBFDFE;
}


/* TYPOGRAPHY */

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: $font-family-header;
}

h1, .h1 { font-size: 3em; }
h2, .h2 { font-size: 2.25em; }

a {
  text-decoration: none;
  color: inherit;
}

.text--center {
  text-align: center;
}

/* GRID */
.container {
  display: grid;
  margin: 0 15px;
  @include media(">=large") {
    width: 960px;
    margin: 0 auto;
  }
}